name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      #
      # ... your other steps, such as running tests, etc...
      #
      - name: SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo "test" > ./test.txt
            mkdir -p ~/.ssh/
            echo "$SSH_PRIVATE_KEY" > ./deploy.key
            sudo chmod 600 ./deploy.key
            echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts

      - name: Install PM2
        run: npm i pm2

      - name: Deploy
        run: npx pm2 deploy ecosystem.config.js production
        # Or alternately, put this deploy script in your package.json's scripts and run it using yarn/npm:
        # run: yarn deploy